body {

  margin: 0px;
  width: 100vw;
  height: 100vh;

}

#root {
  height: 100%; 
}

.map {
  height: 100%;
}

/*  message window */

.message-form {
  z-index: 999; /* necessary to keep window on top of map tiles */
  position: absolute;
  top: 0;
  right: 10px;

}

/* video styles */

video {
  width: 100%;
}
